<!doctype html>
<html lang="en">
    <head>
        <title>Hydra Project</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <script src="{{ STATIC_URL }}js/jquery-1.6.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr-2.5.3.js"></script>
        <script src="{{ STATIC_URL }}js/socket.io.js"></script>
        <script src="{{ STATIC_URL }}js/store.js"></script>
        <script src="{{ STATIC_URL }}js/common.js"></script>
        <script src="{{ STATIC_URL }}js/hydra.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    </head>
    <body> 
        <video id="player" class="player" width="100%" height="100%" style="display:none;">
            <!--<source id="videoSource" src="{{ STATIC_URL }}media/big_buck_bunny_640x360_2.28.mp4 }}" type="video/mp4"/>-->
        </video>
        <div class="container" id="device" style="display: none;">
            <form id="device-assign" method="get">
                <label for="device-name" class="device-label">Enter device name:</label>
                <input name="device-name" class="required device-name" type="text"  >
                <input class="device-save" type="submit" value="save">
            </form>
       </div>

       <div id="status" style="display:none">
	  <h1>Waiting for assigned playlist...</h1>
	  <h6>You can assign your playlist trought the admin console.</h6>
       </div>

        <script type="text/javascript">

            $(document).ready(function(){
                main('{{ server }}');
            });   
        </script>
    </body>
</html>
