body {
    margin:0;
    padding:0;
}

/* PALYER TAG STYLES */

.main {
    overflow:hidden;
}

video poster {

}

video.player {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -o-object-fit: fill;
    -moz-object-fit: fill;
    border:0 none!important;
    margin:0!important;
    padding:0!important;
    display:none;
}

/* END OF TAG STYLE --------------> */

/* DEVICE ASSIGNEMENT TAG STYLES */

.container {

    width:940px;
    margin:150px auto;
    text-align:center;
}
    .container form#device-assign {
        position:relative;
    }

        .container form#device-assign label.device-label {
                position:absolute;
                top:-25px;
                left:273px;
                font-size:18px;
        }

        .container form#device-assign input.device-name {
            padding: 6px 4px; 
            width:300px;
        }

        .container form#device-assign input.device-save {
            padding: 6px 4px;
            width:75px;
            height:37px;
        }
    
#status {
    width:940px;
    margin:150px auto;
    text-align:center;
}

#status h1 {
    color:#2c2c2c;
    line-height:16px
}

#status h6 {
    color:#999999;
    font-size:14px;
}
#poster {
    width:940px;
    margin:100px auto;
    text-align:center;
}
/* END OF TAG STYLE --------------> */

/* JQUERY VALIDATOR TAG STYLE START*/

label.error { 
    color: red;
    position:absolute;
    top:40px;
    left:275px;
}

/* END OF TAG STYLE --------------> */