body {
    overflow: auto;
    margin:0;
}

/* PALYER TAG STYLES */

.main {
    overflow:hidden;
}

.player {
    border:0;
    margin:0;
    padding:0;
    overflow:hidden;
    border-bottom:none;
    border-right:none;
    background:none;
}

/* END OF TAG STYLE --------------> */

/* DEVICE ASSIGNEMENT TAG STYLES */

.container {

    width:940px;
    margin:150px auto;
    text-align:center;
}
    .container form#device-assign {
        position:relative;
    }

        .container form#device-assign label.device-label {
                position:absolute;
                top:-25px;
                left:273px;
                font-size:18px;
        }

        .container form#device-assign input.device-name {
            padding: 6px 4px; 
            width:300px;
        }

        .container form#device-assign input.device-save {
            padding: 6px 4px;
            width:75px;
            height:37px;
        }
    
#status {
    width:940px;
    margin:150px auto;
    text-align:center;
}

#status h1 {
    color:#2c2c2c;
    line-height:16px
}

#status h6 {
    color:#999999;
    font-size:14px;
}

/* END OF TAG STYLE --------------> */

/* JQUERY VALIDATOR TAG STYLE START*/

label.error { 
    color: red;
    position:absolute;
    top:40px;
    left:275px;
}

/* END OF TAG STYLE --------------> */

